<!DOCTYPE html>
<html ng-app="@@appName">
<head lang="en">
    <meta charset="UTF-8" />
    <base href="/" />
    <title translate="SITE_TITLE"></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    @@faviconLink
    @@cssLink
    <!-- scriptinject begin -->
    <!-- scriptinject end -->
</head>
<body>
    <!-- app header -->
    <div id="container">
        <div sp-main class="sp-main"></div>
    </div>
</body>
</html>
