.sp-hide{
  visibility:hidden;
}
.important{
    font-weight: bold;
    color: $alert-color;
}
.sp-email-address-box {
    padding: 1rem 0 2rem 0;
    .icon-email {
        font-size: 2.5rem;
        float: left;
        padding-left: 10px;
        color: $primary;
    }
    .email-text {
        word-wrap: break-word;
        padding-left: 75px;
    }
}
